.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white; }

.App-title {
  color: white;
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.nav-wrap {
  margin-top: 10px; }
  .nav-wrap a {
    font-size: 1.2em;
    color: white; }
    .nav-wrap a.active {
      color: #49a9ee; }
    .nav-wrap a + a {
      margin-left: 10px; }
    .nav-wrap a.active, .nav-wrap a:visited {
      text-decoration: none; }

.item-house {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center; }
  .item-house a {
    position: relative; }
    .item-house a img {
      width: 100%; }
    .item-house a .delete-icon {
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 36px;
      color: white; }
  .item-house:hover a .delete-icon {
    display: block; }

.item-house > * {
  margin-right: 10px;
  width: 200px; }

.item-house-wrap.sort-by-refresh {
  display: flex;
  flex-wrap: wrap; }
  .item-house-wrap.sort-by-refresh .item-house {
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 10px; }
  .item-house-wrap.sort-by-refresh .column-address,
  .item-house-wrap.sort-by-refresh .column-refreshtime,
  .item-house-wrap.sort-by-refresh .column-views {
    display: none; }

.toolbar-wrap {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px; }
  .toolbar-wrap input.input-filter {
    width: 200px;
    margin-right: 20px; }
  .toolbar-wrap .ant-select {
    margin-right: 15px; }

.loading-img {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px; }

.view-option {
  display: flex;
  align-items: center; }
  .view-option svg {
    font-size: 20px;
    cursor: pointer; }
    .view-option svg + svg {
      margin-left: 5px; }
  .view-option .active {
    color: #61dafb; }

.item-job-wrap .item-job {
  display: flex;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px auto 0 auto;
  cursor: pointer;
  border-left: 2px solid white;
  border-right: 2px solid white; }
  .item-job-wrap .item-job:nth-child(even) {
    border-left: 2px solid #e2e2e2;
    border-right: 2px solid #e2e2e2;
    background-color: #e2e2e2; }
  .item-job-wrap .item-job:hover {
    border-left: 2px solid #438cc4;
    border-right: 2px solid #438cc4; }
  .item-job-wrap .item-job .name {
    text-align: left;
    padding-left: 10px;
    font-size: 1.3em;
    width: 40%; }
  .item-job-wrap .item-job .salary {
    font-size: 1.1em;
    width: 30%; }
  .item-job-wrap .item-job .company {
    font-size: 1.2em;
    width: 30%;
    text-align: left;
    padding-left: 15px; }
