.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-wrap a {
  color: white;
}

.item-house {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 50px;
}

.item-house > * {
  margin-right: 10px;
  width: 200px;
}

.item-house > a,
.item-house > a > img {
  width: 200px;
}
.item-house.sort-by-refresh {
  display: inline-block;
  vertical-align: top;
}
.item-house.sort-by-refresh .column-address,
.item-house.sort-by-refresh .column-refreshtime,
.item-house.sort-by-refresh .column-views {
  display: none;
}
